@{
    ViewData["Title"] = "about";
}

<h2>Preparar o sistema de EAD de uma faculdade para receber inúmeras outras faculdade.</h2>
<h4>Contexto</h4>
<p>
    Eu atuava no sistema de uma das maiores faculdades de ensino a distância do Brasil e com o tempo essa instutuição foi absorvida por um grupo que era detentor de inúmeras pequenas faculdades por todo o país.
    Após análise, este grupo, achou por bem usar o nosso sistema para gerir a pós-graduação de todas as outras faculdades que eles possíam.
</p>
<h4>Objetivo</h4>
<ul>
    <li>Fazer com que o sistema da pós-graduação recebesse novas faculdades dentro dele.</li>
    <li>Cada faculdade teria sua própria Url de acesso. (Acessando o mesmo sistema.)</li>
    <li>Cada Faculdade teria suas próprias características: cor, logo, features e design. </li>
    <li>A tela de login deveria carregar suas caracteríticas baseadas na Url.</li>
</ul>
<h4>Tecnologias</h4>
<ul>
    <li>Back-end: .Net Framework</li>
    <li>Bando de Dados: Sql Server</li>
    <li>Front-end: JavaScript, Jquery, CSS e HTML</li>
    <li>Ferramentas: Azure DevOps e Git</li>
</ul> 
<h4>Arquitura</h4>
<p>O Sitema usava API Rest e microserviços.</p> 
<h4>Minha Atuação</h4>
<p>Eu fiquei encarregado da maior parte do desenvolvimento deste projeto. Assim participei dele desde o planejamento. Atuei como full-stack, estruturando o Banco de Dados e o Servidor que iria receber os novos sites.</p>
<h4>Por que me marcou?</h4>
<p>
    Eu gostei de trabalhar nesse projeto porque tive que atuar em diferentes partes do projeto em itens que eram novidade e desafiantes. Dessa forma tive que tomar decisões chave sobre como estruturar os itens e descobrir formas de fazer com que as features pudessem funcionar.<br />
    Exemplo: para solucionar o caso da tela de login ser baseada na Url. Foi criada uma chamada no carregamento da pagina para acessar o banco de dados passando a Url, e dessa forma trazer suas características antes mesmo do login não havendo necessidade de registro de usuário.<br /><br />

    Outro fato instigante foi conhecer as profundezas do sistema, que haviam sido feitos a cerca de 15 anos arás e ainda funcionavam usando ASP Classic. Estes itens eram essenciais para realizar o login integrado entre o site da faculdade,
    que era gerido por eles, e o sistema EAD que era gerido pela minha equipe. E para testar essa integração precisávamos entrar depois da meia-noite para não afetar o uso pelos alunos. Trabalhar de madrugada não é legal, mas tenho boas 
    lembranças de reunir com a equipe de infra-estrutura e DevOps para fazer testes na madrugada.<br />
    Foi um projeto que me amadureceu muito como profissional. 
</p>