@{
    ViewData["Title"] = "Home Page";
}
<style>
    .pastaInput {
        width: 600px;
        height: 50px;
        font-size: 20px;
    }

    .botaoInput {
        width: 100px;
        border-color: none;
        color: white;
        background-color: darkblue;
        height: 50px;
        font-size: 20px;
    }

    .botaoInput:hover {
        color: black;
        background-color: cornflowerblue;
        transition:0.3s;
    }
</style>
<div class="text-center">
    @using (Html.BeginForm("ObterPontoPorSetor", "Home", FormMethod.Get))
    {
        <form>
            <input id="caminho" name="caminho" type="text" class="pastaInput" />
            <input type="submit" value="Buscar" formtarget="_blank" class="botaoInput" />
        </form>

    }
    <p>* O formato dos arquivos devem ser "[nome do setor]-[mês vigente]-[ano vigente]".<br />Exemplo: Financeiro-Agosto-2023</p>
</div>
<div></div>
@*
    <form>

    </form>


*@
